{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block extracss %}
<script src="/theme/js/masonry.pkgd.min.js"></script>
<script src="/theme/js/imagesloaded.pkgd.min.js"></script>
{% endblock extracss %}

{% block content %}
<section class="content">
  <br>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-1">
    </div>
    <div class="col-xs-12 col-lg-10">
      <div class="paper">
      <h2>{{ page.title }}</h2>

      {{ page.content }}
      </div>
      
      <div id="hey"></div>

      <!-- <div id="extracontainer" style="display: block; height: 700px;"> -->
      <div id="container">
        <div class="item">
	  <a href="http://hedonometer.org/books/v2/Harry%20Potter%20(all%20books%20together)/" target="_blank">
	  <img src="/images/2016-05-15-books-v2.png" class="img-responsive blackwhite" />
	  <text>book viewer with crowdsourced annotations</text>
	  </a>
	</div>
        <div class="item">
	  <a href="http://panometer.org/instruments/lexicocalorimeter/activity/" target="_blank">
	  <img src="/images/2016-05-15-lexicocalorimeter-2.png" class="img-responsive blackwhite" />
	  <text>lexicocalorimeter maps</text>
	  </a>
	</div>
        <div class="item">
	  <a href="http://compstorylab.org/share/papers/dodds2014a/translations.html" target="_blank">
	  <img src="/images/2016-05-15-big-happy-appendix.png" class="img-responsive blackwhite" />
	  <text>positivity bias appendices</text>
	  </a>
	</div>
        <div class="item">
	  <a href="http://panometer.org/instruments/lexicocalorimeter/" target="_blank">
	  <img src="/images/2016-05-15-lexicocalorimeter.png" class="img-responsive blackwhite" />
	  <text>lexicocalorimeter dashboard</text>
	  </a>
	</div>
	<div class="item">
	  <a href="http://hedonometer.org/movies/Pulp%20Fiction/" target="_blank">
	  <img src="/images/2016-05-15-movie-viewer-2.png" class="img-responsive blackwhite" />
	  <text>movie viewer</text>
	  </a>
	</div>
	<div class="item">
	  <a href="http://hedonometer.org/index.html?date=2014-08-11" target="_blank">
	  <img src="/images/timeseries-shift-2014-08-11.png" class="img-responsive blackwhite" />
	  <text>interactive wordshifts</text>
	  </a>
	</div>
	<div class="item">
	  <a href="http://hedonometer.org/maps.html" target="_blank">
	  <img src="/images/usmap.png" class="img-responsive blackwhite" />
	  <text>average happiness of US</text>
	  </a>
	</div>
        <!-- this one is down -->
	<!-- <div class="item"> -->
	<!--   <a href="http://hedonometer.org/uslist.html" target="_blank"> -->
	<!--   <img src="/images/uslist.png" class="img-responsive blackwhite" /> -->
	<!--   <text>ranked US states</text> -->
	<!--   </a> -->
	<!-- </div> -->
	<div class="item">
	  <a href="http://hedonometer.org/cities.html" target="_blank">
	  <img src="/images/2016-05-15-city-list.png" class="img-responsive blackwhite" />
	  <text>ranked US cities</text>
	  </a>
	</div>
	<div class="item">
	  <a href="http://hedonometer.org/index.html" target="_blank">
	  <img src="/images/hedonometer.png" class="img-responsive blackwhite" />
	  <text>hedonometer timeseries</text>
	  </a>
	</div>
	<div class="item">
	  <a href="http://hedonometer.org/books.html" target="_blank">
	  <img src="/images/2016-05-15-books-v1.png" class="img-responsive blackwhite" />
	  <text>shapes of stories</text>
	  </a>
	</div>
	<div class="item">
	  <a href="http://hedonometer.org/books.html" target="_blank">
	  <img src="/images/lens-nodefaults-wide.png" class="img-responsive blackwhite" />
	  <text>adjustable lens</text>
	  </a>
	</div>
      </div>
      <!-- </div> -->
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-12 col-lg-1">
    </div>
  </div>
  {% if page.modified %}  
  <div class="row">
    <div class="col-xs-12">
      <br>
      <br>
      <h4 class="text-center small">
        Last updated: {{ page.locale_modified }}
      </h4>
    </div>
  </div>  
  {% endif %}
  </div> <!-- container -->
</section><!-- /#content -->

<section id="content">

</section><!-- /#content -->
{% endblock %}

{% block finaljs %}
<script>
  var container = document.querySelector('#container');
  var msnry;
  // initialize Masonry after all images have loaded
  imagesLoaded( container, function() {
      msnry = new Masonry( container );
  });
  // var msnry = new Masonry( container, {
  // options
  // columnWidth: 200,
  //   itemSelector: '.item'
  // });
</script>
{% endblock finaljs %}

